    <!------------------------------------ twits go here ------------------------------------------------- -->
    <main class="twit-container"> 
      {{#each data}}
      
        {{> newTwit}}
      
      {{/each}}

    </main>
    <!------------------------------------ twits go here ------------------------------------------------- -->

    <!-- partials below ONLY for index.html or '/' pages -->
    {{#if index}}    
        {{> createTwit}}
        {{> modal}}
    {{/if}}